# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Node.js
node_modules/
dist/
.next/
.output/
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.vinxi
__unconfig*
todos.json

# Docker
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db


